body
	background: red/*

/*gd
name: Widget
section: Objects
description: "#example"
*/
.widget
	background: white
	border-radius: 5px
	border: 1px solid #ccc

/*gd
name: Card
section: Objects
description: hello world
*/
.card
	background: green

/*gd
name: Header
section: Global
description: |
	#hello
	world this is
	a test
*/
.header
	background: red